:root {
	--fFontSpecial: 'Architects Daughter', cursive;
	--borderGrid: 5px solid #291b28fa;
	--cDarkLilac: #291b28;
	--cBrightLilac: #7179c7;
	--cLilac: #8d83c3;
	--cLightLilac: #d5c6da60;
	--cSuperLightLilac: #d5c6da;
	--cModalBackground: #291b28fb;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	color: var(--cDarkLilac);
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/* NAV */
nav {
	margin: 10px 0;
	min-width: 300px;

	text-align: center;
}
h1 {
	font-size: 50px;
	margin-bottom: 10px;
}

/* Game container */
.game-container {
	height: 300px;
	width: 300px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}
.board-grid {
	position: relative;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.border-t-b {
	border-top: var(--borderGrid);
	border-bottom: var(--borderGrid);
}
.border-l-r {
	border-left: var(--borderGrid);
	border-right: var(--borderGrid);
}
.xoro {
	font-family: var(--fFontSpecial);
	font-size: 100px;
	font-weight: bold;
	color: var(--cBrightLilac);
}
.win-line {
	position: absolute;
	background-color: var(--cDarkLilac);
	border-radius: 5px;
	min-height: 10px;
	width: 110%;
}
.win-line-horizontal {
	top: 45%;
	left: -5%;
}

.win-line-vertical {
	transform: rotate(90deg);
	left: -5%;
}
.win-line-diagonal-A1 {
	transform: rotate(45deg);
	left: -32%;
	width: 155%;
}
.win-line-diagonal-A3 {
	transform: rotate(-45deg);
	left: -23%;
	width: 155%;
}

/* Game options */
.game-opts {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn {
	border: #291b28 2px solid;
	box-shadow: 3px 5px 5px var(--cDarkLilac);
	border-radius: 2px;
	width: 100px;
	padding: 5px;
	cursor: pointer;
}
.reset-btn {
	font-size: 14px;
	margin: 15px 0;
	text-align: center;
	background-color: var(--cLightLilac);
}
.container-players {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container-players div {
	width: 40%;
}
.container-players div h2 {
	text-align: center;
	font-size: 18px;
}
.container-players div h3 {
	text-align: center;
	font-size: 14px;
}

/* Footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0 0 0;
	min-height: 50px;
}
footer p {
	margin-right: 7px;
	/* color: var(--cBrown); */
}
footer ion-icon {
	font-size: 20px;
	padding-left: 5px;
}

/* Game over modal */
.game-over-modal {
	position: absolute;
	background-color: var(--cModalBackground);
	height: 100%;
	width: 100%;
	display: flex;

	align-items: center;
	justify-content: center;
}
.border-2 {
	border: 5px solid var(--cSuperLightLilac);
	padding: 20px;
}
.border-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 5px solid var(--cLightLilac);

	padding: 20px;
}
.container-close-icon {
	width: 170px;
	text-align: right;
	margin-bottom: 20px;
	cursor: pointer;
}
.container-close-icon ion-icon {
	color: var(--cLightLilac);
	font-size: 30px;
}
.game-over-modal h2 {
	color: var(--cSuperLightLilac);
	margin-bottom: 20px;
}
.modal-btn {
	text-align: center;
	background-color: var(--cLightLilac);
}

/* Player Selection Modal */
.player-choice-modal {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--cModalBackground);
	display: flex;
	align-items: center;
	justify-content: center;
}
.player-preferences {
	padding: 10px 25px;
	border: 5px solid var(--cLightLilac);
}
.close-player-modal {
	color: var(--cLightLilac);
	font-size: 30px;
	text-align: right;
}
.close-player-modal ion-icon {
	color: var(--cLightLilac);
	cursor: pointer;
}
.player-preferences h2,
label {
	color: var(--cSuperLightLilac);
	margin-bottom: 10px;
}
.player-preferences label {
	margin-right: 10px;
}
.player-preferences fieldset {
	border: none;
	margin-bottom: 10px;
}
.player-preferences select {
	margin-left: 14px;
	cursor: pointer;
}
.player-preferences select,
input {
	width: 115px;
}
.player-preferences .btn {
	margin: auto;
}

/* Hiding things */
.hide {
	display: none;
}

/* X and O decoration */
.decoration-letter {
	position: absolute;
	visibility: hidden;
}

@media only screen and (min-width: 800px) {
	.decoration-letter {
		visibility: visible;
		font-family: var(--fFontSpecial);
		font-size: 60px;
		color: var(--cSuperLightLilac);
		transition: all 0.5s ease;
	}
	.darkerDeco {
		color: var(--cDarkLilac);
		transition: all 0.5s ease;
	}
	.decoration-X-1 {
		font-size: 30px;
		right: 100px;
		top: 10px;
		transform: rotate(-20deg);
	}
	.decoration-O-1 {
		right: 40px;
		top: 55px;
	}
	.decoration-X-2 {
		right: 150px;
		top: 200px;
		transform: rotate(-35deg);
	}
	.decoration-O-2 {
		font-size: 90px;
		right: 70px;
		top: 300px;
		transform: rotate(-20deg);
	}
	.decoration-X-3 {
		font-size: 70px;
		right: 200px;
		top: 500px;
		transform: rotate(20deg);
	}
	.decoration-O-3 {
		font-size: 70px;
		right: 60px;
		top: 500px;
		transform: rotate(15deg);
	}
	.decoration-X-4 {
		font-size: 70px;
		right: 120px;
		top: 430px;
	}
	.decoration-O-4 {
		font-size: 160px;
		right: 130px;
		top: 570px;
	}
	.decoration-X-5 {
		font-size: 50px;
		left: 100px;
		top: 50px;
	}
	.decoration-O-5 {
		font-size: 40px;
		left: 50px;
		top: 10px;
	}
	.decoration-X-6 {
		left: 150px;
		top: 100px;
		transform: rotate(15deg);
	}
	.decoration-O-6 {
		left: 70px;
		top: 130px;
	}
	.decoration-X-7 {
		font-size: 90px;
		left: 150px;
		top: 260px;
		transform: rotate(-25deg);
	}
	.decoration-O-7 {
		font-size: 90px;
		left: 180px;
		top: 350px;
		transform: rotate(-25deg);
	}
	.decoration-O-8 {
		font-size: 120px;
		left: 70px;
		top: 350px;
		transform: rotate(-25deg);
	}
	.decoration-X-8 {
		font-size: 130px;
		left: 50px;
		top: 470px;
		transform: rotate(-5deg);
	}
	.decoration-X-9 {
		font-size: 150px;
		left: 140px;
		top: 580px;
		transform: rotate(-5deg);
	}
	.decoration-O-9 {
		right: 20px;
		top: 150px;
		transform: rotate(90deg);
	}
	.brighterDeco {
		color: var(--cLilac);
		transition: all 0.5s ease;
	}
}
